################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/src
/src/src/obj/Debug
/src/obj/Debug
/src/.vs
/src/bin/Debug
/TestingFlow/obj
/TestingFlow2
/TestingFlow
